{{!< default}}

<article class="blog-page {{post_class}}">
	{{#post}}
	<header class="page-header">
		<h2>{{{title}}}</h2>
	</header>
	<section class="page-content">
		{{content}}
	</section>
	{{/post}}
</article>